<%- include('includes/head')%> <%- include('includes/nav')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Login</h1>
      <p class="text-center lead">faça seu login ou crie sua conta</p>

      <div class="row">
        <div class="col-lg">
          <h4>faça seu cadastro</h4>
          <p>Se voce não tem conta preencha o forms a baixo</p>
          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %> >
            <div class="form-group">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email" />
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password" />
            </div>

            <button type="submit" class="btn btn-primary mt-3">
              Criar minha conta
            </button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Entrar no sistema</h4>
          <p>Se voce já tem conta faça login</p>
          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %> >
            <div class="form-group">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email" />
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password" />
            </div>

            <button type="submit" class="btn btn-primary mt-3">
              Entrar no sistema
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer')%>
